{% extends 'layout.html.twig' %}

{% block content %}

    
    <div class="row">
    <p class="image" ims
    <div class="row">
        <p class="card-text text-center fs-1 mt-5">Manipulation simple de nos dechèts</p>
    </div>

    <div class="projcard-container mt-3 mb-5">
        <div class="projcard ">
            <div class="projcard-innerbox">
                <img class="projcard-img" src="/assets/images/1.png" width="100"/>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="card-text text-center fs-1">Utilisation de notre environnement </p>
    </div>

    <div class="projcard-container mb-5 mt-3">
        <div class="projcard">
            <div class="projcard-innerbox">
                <img class="projcard-img" src="/assets/images/2.png" width="100"/>
            </div>
        </div>
    </div>


{% endblock %}

