* {
    margin: 0;
    padding: 0
}

body {
    background-color: #CCC
}

.powr-chat {
    z-index: 100;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card .image img:hover {
    transform: scale(1.5)
}

.btn-rounded {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    cursor: pointer;
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.text span {
    font-size: 1rem;
    color: #545454;
    font-weight: 500
}

.icon {
    height: 1.2rem;
    width: 1.2rem;

}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
}

.bg-gray {
    background-color: #ccc;
}
.text-gray {
    color: #ccc;
}



.padding {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-left : 1rem !important;
    padding-right : 1rem !important;
}

.user-card-full {
    overflow: hidden;
}

.card2 {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}
 
h6 {
    font-size: 0.8rem;
}

.card2 .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card2 .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#alert-password-modify {
    width: 90%;
}

.text-mini {
    font-size: 0.7rem;
}

.profile-btn {
        color: var(--Oxford-Blue);
        border-color: var(--Oxford-Blue);
}

.profile-btn:hover {
    color: var(--Platinum);
    background-color: var(--Oxford-Blue);
    border-color: var(--Oxford-Blue);
    box-shadow: 2px 2px 0px 0px var(--button-shadow-2), 4px 4px 0px 0px var(--button-shadow)
}
