<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img  class="btn me-5" id="image-home" src="/assets/images/Logo.png"  height="98">
      <div class="navbar text-align-center" id="nav">
        <a class="nav-link text-success ms-5" href="#">Discussion</a>
        <a class="nav-link text-success" href="#">profil</a>
        <a class="nav-link text-success" href="#">Point de collecte</a>
      </div>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-success me-2">Login</button>
      </div>
  </div>
</nav>